.list{
    list-style: none;
  }
  
.cat{
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
}
.container{
    position: sticky;
    top: 40px;
    
  }

.user{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
.userImage{
    align-items: center;
    border-radius: 50%;
    object-fit: fill;
    width: 60px;
    height: 60px;
  }
  
  .userDetail{
    display: flex;
    flex-direction: column;
  }
  
  .username{
    font-weight: 500;
  }