
.circular-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Set desired width */
    height: 50px; /* Set desired height */
    border-radius: 50%; /* Makes the icon circular */
    background-color: #13544E   ; /* Optional: Background color for the icon */
    color: white; /* Optional: Text color for the icon */
  }

  .placeholder-image {
    width: 120px;
    height: 120px;
    display: block;
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    border-style: solid; /* Set border style to solid */
    border-width: 1px; /* Set border width */
    border-color: black; /* Set border color */
    padding: 3px;
  }