.circle-button {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height, make it the same as the width for a perfect circle */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text/icon color to white, or any other color that provides good contrast */
  }
  
.link-name {
    margin-top: 5px; /* Adjust the margin as needed for spacing between button and text */
}
.horizontal-container {
  display: flex;
  align-items: center; /* Vertically align items */
}

.selector {
  margin-right: 20px; /* Space between the two selectors */
}
.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}

.icon-button svg {
  width: 24px;
  height: 24px;
}