 .placeholder-image {
    width: 120px;
    height: 120px;
    display: block;
    background-color: white;

    border-radius: 50%;
    border-style: solid; /* Set border style to solid */
    border-width: 0.25px; /* Set border width */
    border-color: black; /* Set border color */
    padding: 3px;
  }